body {
  background-color: $white;
  color: $dark-gray;
  margin: $base-spacing * 2 auto;
  max-width: 36em;
}

.feature {
  font-size: $base-font-size * 1.2;
}

.logo {
  font-size: $base-font-size * 4;

  em {
    color: $accent-color;
    font-style: normal;
  }
}
